
 
  .navbar-brand img{
    width: 100px;
    margin-left: 40px;
  }




  .navbar-nav {
    width: 100%;
    text-align: center;

    
    > li {
      float: none;
      display: inline-block;
      padding-right: 55px;
      padding-left:50px;
    
    }
  }
  
  .bg-green{
    background-color: transparent;
    height: 60px;
  }
  .navbar::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
   }
  
   
   .bg-green{
    background-image: linear-gradient(to bottom, rgba(158, 231, 152, 1), rgba(159, 231, 152, 0.046));
    height: 90px;
  }


    
.background img {
    height: 725px;
    width: 100%;
    margin: 0;
    padding-top: 0px;
  }

  .GeneratedMarquee {
    font-family:Arial, sans-serif;
    font-size:6em;
    line-height:1.3em;
    color:white;
    padding:2em;
    margin-top: 400px;
    
    }

 .bolded{
    font-size: 20px;
    }
  .writing{
      margin-right: 100px;
      margin-left: 100px;
      margin-top: 60px;
     }
.text-container{
  padding-right: 50px;
  padding-right: 50px;
}

  .image-container{
    margin-top: 100px;
 }

 

.description{
  font-size: 16px;
  text-align: center;
}

.description-p{
  color:rgb(114, 111, 111);
  margin-top: 9px;
  }
  .description-main{
    font-size:18px;
    font-weight: 400;
    margin-top: 20px;
  }

  .desciption-pricing{
    font-size: 15px;
  }
  
  .img-responsive{
    float:right;
    width:600px;
  }
  
  .press{
    font-size: 60px;
    margin-left: 90px;
    margin-top: 140px;
  }
  
  .menu-list {
    font-size: 45px;
  
  }
    .menu{
      font-size: 16px;
      margin-right: 300px;
      margin-top: 70px;
    }
    .footer-img {
      width: 800px; 
    }
  
    ul {
      list-style-type: none;
      margin-right: 300px;
      line-height: 70px;
  
    }
  
    .container-footer{
      margin-top: 70px;
    }
  
  @media (max-width: 767px) {
   .carousel-inner{
    margin-top: 30px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgb(206, 146, 191); 
   border: none; 
  }

  .carousel-control-prev {
    margin-left: 12px; 
  }

  .carousel-control-next {
    margin-right: 12px; 
  }


    .description{
      font-size: 16px;
      text-align: center;
      padding-left: 0;
    }
  
    .description-p{
    color:rgb(114, 111, 111);
    margin-top: 9px;
    }
    .description-main{
      font-size:18px;
      font-weight: 400;
      margin-top: 20px;
    }
  
    .desciption-pricing{
      font-size: 15px;
    }

    .writing{
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 40px;
  }

  .GeneratedMarquee {
    font-family:Arial, sans-serif;
    font-size:3em;
    line-height:1.3em;
    color:white;
    padding:2em;
    margin-top: 600px;
    
    }
    .img-responsive {
      width: 400px;
      padding-left: 50px;
    }
   
    .footer-img {
      width: 200px; 
    }
  
    .menu-list{
      font-size: 18px;
    }
  
    ul {
      list-style-type: none;
      margin-right: 0px;
      line-height: 60px;
  
    }
     
    .menu{
      font-size: 14px;
      margin-right: 0px;
      margin-top: 70px;
    }
    }
